.postListBox {
    display: flex;
    flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  
    
}

.postListBox a {
    color:white;
    text-decoration: none;
    text-align: left;
}

.postListItem {
    box-shadow: 2px 2px 5px 0 #20214f;
    display: flex;
    flex-direction: column;
    width: 250px;
    max-height: 400px;
    margin: 10px 20px;
    border-radius: 5px;
    overflow: hidden;
}

.postListText p{
    padding: 10px 15px 10px 15px;
    line-height: 20px;
}

.postListText p.title {
    height: 30px;
    font-weight: bold;
}
.authorImg {
    max-width: 50px!important;
    border-radius: 50%;
    
}

.postListImg {
    max-width: 250px;
    max-height: 200px;
}

.authorItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: flex-start;
}


    