.contactPage {
    min-height: 800px;
}

.contactPage h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contactPage .about {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
}


.contactPage .madeBy p {
    margin-bottom: 10px;
}

.contactPage .madeBy .ab {
    font-weight: bolder;
    font-style: italic;
    margin-bottom: 15px;
}

.contactPage .madeBy p a {
    text-decoration: underline;
    color: #fff;
}