.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #00a0a0;
    position: fixed;
    z-index: 9999;  
}

.header nav {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin:0;
    color: cornsilk;
    padding-right: 30px;

    
}

.header h1 {
    font-size: 30px;
    padding-left: 30px;
}

.header nav a, .header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.header nav a {
    padding-right: 20px;
}

@media only screen and (max-width: 600px){
    .header {
        flex: wrap;
        
    }
    .header h1 {
        font-size: 20px;
    } 
    .header nav a {
        font-size: 15px;
        padding-right: 10px;
    }
    
    
  }
